#img-logo{
    width: 240px;
    height: 150px;
    margin: 10%;
    background-color: beige;
}

nav{
    margin: 14%;
    background-color: #D8D8D8;
}


#header{
    background-color: aliceblue;
}

#section .panel-heading{
    background: #3B6896;
    color: aliceblue;
    text-align: center;
}

#section .panel-body{
    background-color: aliceblue;
    text-align: center;
    padding: 2%;
}

#img-user{
    width: 180px;
    height: 180px;
    margin: 1% 0% 5px 45%;
    background-color: beige;
}

#form-input{
    width: 50%;
    margin: 0 0 0% 25%;
    padding: 5%;
    border-style: groove;
    border-color: ;
}


#section-1{
    background: #9FC5FA;
    margin-bottom: 0%;
}

#section-2{
    padding: 2%;
    border-style: double;
    border-color: black;
    
}

#section{
    padding: 1%;
}

#section button{
    background: #3B6896;
    color: white; 
}

#footer{
    height: 50px;
    background: #3B6896;
}
