#paleta{
    color: white;
    background: cornflowerblue;
    padding: 10 10 10 10;
    height: 100%;
    padding: 20px 10px 10px 10px;
    margin: auto;
}

#lienzo{ 
    color:white;
    background: darkgray;
   
    

}

#sidebar{
    color: white;
    background: darkcyan;
    height: 100%;
    padding: 20px 10px 10px 10px;
    
}

#principal{
    
}




body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h2{
    font-weight: 500;
}

nav a{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


footer {
    text-align: center;
    padding: 30px 0;
    background-color: #4B4C4C;
    background: url(../img/intro-bck2.jpg);
}

p.copyright {
    margin: 15px 0 0;
}

.navbar-brand {
    font-size: 1.8em;
}

footer .list-inline{
    color: white;
}

.main{
    padding: 0px;
    margin-top: 50px;
}

.col-md-2 {
    display: table-cell;
    float: none; 
}
.col-md-8 {
    display: table-cell;
    float: none; 
}


input{
    background: rgba(0,0,0,.0);
    border:none;
    font-family: verdana;
    font-weight:bold;
    font-size: 10px;
    color: white;
    position: absolute;
    text-align: center;
}

#lienzo{
    margin: 0;
    padding: 0px;
     background: rgba(251,197,160,0.0);
}

svg{
    position: absolute;
    background: rgba(251,197,160,0.8);
    left: 0px;
}

.textoEntidad{
    font-family: cursive;
    font-weight: bold;
    fill: white;
    font-size: 16px;
   
   
}

.textoElemento{
    font-family: cursive;
    fill:black;
    font-size: 16px;
    
    
    
}

input.cuadroNombreEntidad{
    font-family: cursive;
    font-size: 16px;
    background: rgba(0,0,0,.0);
    color:coral;
}

input[groupIndice]{
    font-family: cursive;
    font-size: 16px;
    background: rgba(0,0,0,.0);
    color:red;
    
}
