header{
    background: aqua;
}


section{
    margin-top: 0px;
}

footer{
    clear: both;
    background: brown;
    color: white;
}

#paleta{
    color: white;
    background: cornflowerblue;
    
}

#lienzo{ 
    color:white;
    background: darkgray;
    height: 100%;
    position: relative;
}

#sidebar{
    color: white;
    background: darkcyan;
    height: 100%;
        
}

#principal{
    
}

button{
    color:black;
}

.entidad{
    position: absolute;
    width: 100px;
    height: 100px;
    background: aqua;
    left: 50px;
    top:50px;
    cursor: move; 
    border-radius: 5%;
    -webkit-transition: transform 0.3s,background 0.3s,border 0.1s,border-radius 0.2s;
}

.entidad:hover{
    transform: scale(1.5,1.0);
    background: chartreuse;
    border: 2px solid black;
    border-radius: 50%;
}

.nombreEntidad{
    height: 40px;
    background: black;
    color:aliceblue;
    text-align: center;
}

.elementoEntidad{
    height: 20px;
    background:  darkcyan;
    color:chocolate;
    text-align: center;
}



body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

nav a{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

footer {
    text-align: center;
    
    padding: 15px 0;
    background-color: #4B4C4C;
    background: url(../img/intro-bck2.jpg);
}

p.copyright {
    margin: 15px 0 0;
}

.navbar-brand {
    font-size: 1.8em;
}

footer .list-inline{
    color: white;
}




