*{
    margin: 0;
    padding: 0;
    
}

#principal{
    background: red;
    position: relative;
    height: 500px;
    resize:both;
}

#contenedor{
    
    position: absolute;
    width: 100px;
    height: 100px;
    background: aqua;
    left: 50px;
    top:50px;
    cursor: move; 
    border-radius: 5%;
    -webkit-transition: transform 0.3s,background 0.3s,border 0.1s,border-radius 0.2s;
    
}

#contenedor:hover{
    transform: scale(1.5,1.0);
    background: chartreuse;
    border: 2px solid black;
    border-radius: 50%;
}

